* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 7.5)
}
@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}
h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
}
a {
	text-decoration: none;
  }
/* will-change */
.content, .hero, .main-header, .gallery > * {
	will-change: transform;
}
body {
	background-image: url(../img/bg.jpg);
	background-size: 50px;
	color: #fafafa;
	font-family: raleway-c;
	overflow-x: hidden;
}
.hero-logo {
	position: absolute;
	margin-top: 5vh;
}
.hero {
	width: calc(var(--index) * 34);
	position: absolute;
	left: 40vw;
	top: 10vh;
	z-index: -1;
}
.main-header {
	height: 100vh;
}
.container {
	padding: 0 7vw;
}
.main-title {
	font-size: calc(var(--index) * 7);
	position: absolute;
	bottom: 40vh;
	line-height: .9;
	display: flex;
	justify-content: center;
}
.main-title-small {
	font-size: calc(var(--index) * 3);
	position: absolute;
	bottom: -10vh;
	line-height: .9;
	white-space: nowrap;
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 1) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
}
.gallery__item img {
	object-fit: fill;
	width: 100%;
  	height: 100%;
	border-radius: 8px;
}
.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
	margin-bottom: var(--gallery-gap);
}
.text-block {
	color: var(--color-text);
	position: relative;
	margin-top: 20px;
}
.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}
.text-block__p {
	line-height: 1.75;
}
@-webkit-keyframes ani-mouse {
	0% {
		opacity: 1;
		top: 29%;
	}

	15% {
		opacity: 1;
		top: 50%;
	}

	50% {
		opacity: 0;
		top: 50%;
	}

	100% {
		opacity: 0;
		top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
		opacity: 1;
		top: 29%;
	}

	15% {
		opacity: 1;
		top: 50%;
	}

	50% {
		opacity: 0;
		top: 50%;
	}

	100% {
		opacity: 0;
		top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
		opacity: 1;
		top: 29%;
	}

	15% {
		opacity: 1;
		top: 50%;
	}

	50% {
		opacity: 0;
		top: 50%;
	}

	100% {
		opacity: 0;
		top: 29%;
	}
}
.scroll-btn {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	text-align: center;
}
.scroll-btn>* {
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	letter-spacing: 2px;
}
.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*.active {
	color: #ffffff;
}
.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*:active,
.scroll-btn>*.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}
.scroll-btn .mouse>* {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}
.footer	{
	margin: 0 auto;
}
@media screen and (max-width: 1400px) {
	.gallery {
		flex-direction: column;
	}
	.gallery__right .gallery__item {
		margin-top: 0;
	}
	.gallery__item__first-right {
		margin-top: var(--gallery-gap) !important;
	}
	.gallery__item__last-right {
		margin-bottom: var(--gallery-gap);
	}
}
